.DS_Store
yarn.lock
app/sculptgl.js
app/index.html
standalone/*
cache/*
node_modules
*~
.idea/*
*.sublime-workspace
*.log
*.map
*.hdr
tools/*.png
tools/dist

# Deployment
.last_deployed*
deploy*.sh

# Internal / Local
mac_proxy.py
walkthrough.md
ngrok*
*.sublime-project
cert.pem
key.pem
